@import "reset.scss";
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
  background-color: #c0c0c0 !important;
}
.wrapper {
  background-color: #fff;
  width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.header {
  background: URL('../images/header.jpg') no-repeat;
  height: 365px;
  h1 {
    display: none;
  }
  .menu {
    padding-top: 23px;
    font-size: 15px;
    float: right;
    padding-right: 444px;
    color: #909090;
    li {
      float: left;
      a {
        font-size: 15px;
        color: #909090;
        margin-left: 30px;
      }
      a:hover {
        color: #ffffff;
      }
      a.active {
        color: #ffffff;
      }


    }
  }

}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.content {
  float: left;
  width: 600px;
  padding-left: 90px;
  padding-top: 80px;
  .post {
    padding-bottom: 51px;
    padding-top: 51px;
    h2 {
      font-family: "Open Sans";
      font-size: 32pt;
    }
    p {
      font-size: 17px;
      line-height: 150%;
      padding-bottom: 102px;
    }
    border-bottom: 1px solid #bababa;
  }
  .date {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #8f8f8f;
  }
  img {
    width: 100%;
  }
  .older-posts, .newer-posts {
    font-size: 23px;
    color: #b5b5b5;
    text-decoration: none;
  }
  .older-posts {
    float: left;
  }
  .newer-posts {
    float: right;
  }

}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.sidebar {
  float: right;
  overflow: hidden;
  width: 396px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.footer {
  clear: both;
}